.verticalCenter{
    display: flex;
    align-items:center;
    justify-content: center;
}
.header{
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    z-index: 999;
    padding-right: 20px;
    background: #fff;
}
.header input{
    border: none;
    background: transparent;
    font-style: 14px;
    text-indent: 6px;
}
.header .ant-select-selection{
    border: none;
    background: transparent;
    margin: 0 1em;
}
.header .ant-select-selection:focus{
    outline: none !important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    border-left: 2px solid 
}
.ant-layout{
    background: #F0F0F7;
}
main{
    background: transparent !important;
    padding: 5em !important;
}
i{
    color: #BCBCCB !important;
}
